.container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.ItemContainer {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #5a5a5a;
  padding: 20px;
}

.name {
  font-size: 32px;
  border-bottom: #333333 1px solid;
}

.text {
  font-size: 24px;
  padding: 20px 0;
}

.likesContainer {
  display: flex;
  gap: 4px;
  align-self: flex-end;
  cursor: pointer;
  font-size: 20px;
}
