.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.Itemcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  background-color: #353232;
  gap: 15px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  flex-shrink: 0;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.name-surName {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  padding: 6px 10px;
  border-radius: 8px;
  align-items: center;
  width: 100%;
}

.text {
  font-size: 14px;
  color: #b42424;
  margin-top: 4px;
}
