.header {
    background: #222222;
    color: white;
    height: 48px;
}

.container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 32px;
    align-items: center;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.logo {
    font-size: 32px;
    user-select: none;
}

.inputContainer {
    position: relative;
    display: flex;
    justify-content: center;

    input {
        width: 356px;
        height: 24px;
        background: #424242;
        padding:  14px 18px  14px 32px;
        border-radius: 12px;
        border: none;
        color: white;

        &:focus {
            border: none;
            outline: none;
        }
    }
}

.searchIcon {
    position: absolute;
    left: 8px;
    top: 6px;
}

.img_container {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

