.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 12px;
  letter-spacing: 0.1em;
}

.input {
  font-size: 12px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  outline: none;
  transition: 0.3s;
  padding: 10px;

  &:hover {
    background-color: #393939;
  }

  &:focus {
    border-color: #888;
  }
}

.inputInvalid {
  border-color: #cf3333;
}

.error {
  font-size: 12px;
  color: #cf3333;
}

.button {
  background-color: white;
  color: black;
  border: none;
  padding: 12px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;

  &:hover {
    background-color: #e8e8e8;
  }

  &:active {
    background-color: #c4c4c4;
  }
}
